<form class="form">
      <div class="section">
            <label class="label">Enter Your Email</label>
        <input class="input is-rounded" type="text" name="email-name" placeholder="Enter Your E-Mail Address" #emailName/>
      <button class="button" (click)="getPwnedData(emailName.value)">Submit</button>
  </div>
    </form>
<div *ngIf="pwnedData">
  <div *ngFor="let pdata of pwnedData">
    <div class="section">
    <div class="columns">
      <div class="column is-one-fifth">
          <img src="{{pdata.LogoPath}}" class="logoClass">
      </div>
      <div class="column">
          <h2>{{pdata.Title}}: {{pdata.Description | specialPipe}}</h2>
      </div>
        </div>
      </div>
</div>
</div>