<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
              <img class="logoClass" src="https://findbiometrics.com/assets/iStock-499902748-2-e1507054607810-300x291.jpg">
            <h1 class="navbar-item" >Have You Been Pwned?</h1>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu is-active">
          <div class="navbar-start">
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" href="https://haveibeenpwned.com/API/v2" target="_blank">
                  HaveIBeenPwned API
                </a>
                <a class="navbar-item" href="https://bulma.io/" target="_blank">
                  Bulma CSS
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <app-pwned-data></app-pwned-data>
