<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="localhost:4200">
            <img src="https://it-solutions.schultz.ch/images/schultz.ch/it-solutions/logos/hibp_full_logo.png" width="150" height="50">
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu is-active">
          <div class="navbar-start">
            <a class="navbar-item">
              Home
            </a>
      
            <a class="navbar-item">
              Password Checker
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  HaveIBeenPwned API
                </a>
                <a class="navbar-item">
                  Bulma CSS
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
<app-pwned-data></app-pwned-data>
